{% load static %}
<html>
    <head>
        <title>Praticando OBI</title>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <!--<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link href="{% static 'admin/css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Praticando OBI</a></h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                {% block content %}
                {% endblock %}
                </div>
                {% for m in messages %}
                    {{ m }}
                {% endfor %}
            </div>
        </div>
    </body>
</html>