<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Praticando OBI</title>
</head>
<body>
    {% block content %}
        <div class="page header">
            <a href="{% url 'usuarios_obi:update_perfil' %}" class="top-menu">Usuário</a>
        </div>
        <a href = "{% url 'provas_obi:url_provas' %}">Ver Provas</a><br/>
        <a href="{% url 'usuarios_obi:provaperson_nova' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Nova Prova</a><br/>
    {% endblock %}
    <ul>

    </ul>

</body>
</html>