<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problemas da Prova tal</title>
</head>

<body>
    <h2>Listagem dos problemas:</h2>

    <br>
        {% for prob in problemas %}
        <br>{{ prob.numeroproblema }} - {{prob.tituloproblema}}<br/>{{prob.enunciadoproblema}}</br>

        {% if prob.regrasproblema != null %}
        <br/>{{prob.regrasproblema}}<br/>
        {% endif %}

        {% if prob.imgproblema != null %}
            {% load static %}
            <img src={% static prob.imgproblema %} width="120" height="120" alt="My image">
        {% endif %}

            {% for q in questoes %}
                {% if q.codproblema.codproblema == prob.numeroproblema %}
                    <br>{{ q.numeroquestao }} - {{q.enunciadoquestao}}</br>
                {% endif %}
            {% endfor %}

        {% endfor%}
    </ul>

</body>
</html>