<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
    #myDIV {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background-color: white;
        margin-top: 10px;
    }
    </style>

    <title>Problemas</title>
</head>

    <h2>Listagem dos problemas:</h2>

    <br>
        {% for prob in problemas %}
        <br>{{ prob.numeroproblema }} - {{prob.tituloproblema}}<br/>{{prob.enunciadoproblema}}</br>

        {% if prob.regrasproblema %}
        <br/>{{prob.regrasproblema}}<br/>
        {% endif %}

        {% if prob.imgproblema != null %}
            {% load static %}
            <img src={% static prob.imgproblema %} width="120" height="120" alt="My image">

        {% endif %}

            {% for q in questoes %}
                {% if q.codproblema.codproblema == prob.numeroproblema %}
                    <br>{{ q.numeroquestao }} - {{q.enunciadoquestao}}</br>

                    {% for a in alternativas %}
                        {% if a.codquestao.codquestao == q.codquestao %}
                            {{a.letraalternativa}} - {{a.textoalternativa}}</br>
                        {% endif %}
                    {% endfor %}

                <button onclick="mostraGabarito()">Ver Gabarito</button>

                <div id="myDIV" style="display:none">
                    {{q.gabaritoquestao}}
                </div>

                <script>
                    function mostraGabarito(){
                        var v = document.getElementById("myDIV");
                        if(v.style.display == "none"){
                            v.style.display = "block";
                        }else{
                            v.style.display = "none";
                        }
                    }
                </script>

                {% endif %}
            {% endfor %}

        {% endfor%}
    </ul>

</body>
</html>