{% extends 'base.html' %}
{% load static %}

{% block container %}
    <h2>Busca por Problemas</h2>
    {% if error %}
    <p style="color: red;">Por favor, entre com um valor.</p>
    {% endif %}
    <form action="" method="GET">
        <input type="text" name="q"> <input type="submit" value="Buscar"><br/>
        <label for="box1"><input type="radio" name="display_type" value="titulobox" id="box1">Título</label>
        <label for="box2"><input type="radio" name="display_type" value="classificacaobox" id="box2">Classificação</label>
    </form>
{% endblock %}