{% extends './../base.html' %}
{% load static %}

{% block container %}
<link href="{% static 'admin/css/breadcrumb.css' %}" rel="stylesheet">
		<ul class="breadcrumb">
			<li class="completed"><a href="{% url 'usuarios_obi:provaperson' %}">Dados da Prova</a></li>
			<li class="completed"><a href="{% url 'usuarios_obi:provaperson_edit' pk %}">Editar Prova</a></li>
            <li class="active"><a href="{% url 'usuarios_obi:questoes_busca' pk %}">Buscar Questões</a></li>
            <li><a href="javascript:void(0);">Adicionar Questões</a></li>
			<li><a href="javascript:void(0);">Imprimir Prova</a></li>
		</ul>
     <form action="" method="GET">
        <div class="form-group">
             <h2>Buscar questões:</h2>

            {% if error %}
                <p style="color: red;">Por favor, entre com um valor.</p>
            {% endif %}

            <div class="col-xs-9">
                <input type="text" class="form-control" name="q"/><br/>
                <label class="radio-inline">Procurar questões por: </label>
                 
                <label for="box1"><input type="radio" name="display_type" value="provabox" id="box1">Prova</label>&emsp;
                <label for="box2"><input type="radio" name="display_type" value="problemabox" id="box2">Problema</label>&emsp;
                <label for="box3"><input type="radio" name="display_type" value="questaobox" id="box3">Questão</label>&emsp;
                <label for="box4"><input type="radio" name="display_type" value="todosbox" id="box4">Todos</label>

            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
{% endblock %}