{% extends './../base.html' %}
{% load static %}

{% block titulo %}
    {{ block.super }}
    / Nova Prova
{% endblock %}

{% block container %}
<link href="{% static 'admin/css/breadcrumb.css' %}" rel="stylesheet">

    <div class="row">

        <div class="col-md-8 col-sm-10 col-12">
		<ul class="breadcrumb">
			<li class="active"><a href="{% url 'usuarios_obi:provaperson' %}">Dados da Prova</a></li>
			<li><a href="javascript:void(0);">Editar Prova</a></li>
            <li><a href="javascript:void(0);">Buscar Questões</a></li>
            <li><a href="javascript:void(0);">Adicionar Questões</a></li>
			<li><a href="javascript:void(0);">Imprimir Prova</a></li>
		</ul>

            <form method="POST" class="post-form">{% csrf_token %}

                <tr>
                <td><label for="id_titulo">Título:</label></td>
                    <div class="form-group">
                     <td><input name="titulo" type="text" required id="id_titulo" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_ano">Ano:</label></td>
                    <div class="form-group">
                        <td><input name="ano" type="text" maxlength="20" id="id_ano" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_dificuldade">Dificuldade:</label></td>
                    <div class="form-group">
                        <td><input name="dificuldade" type="text" maxlength="20" id="id_dificuldade" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_observacoes">Observações:</label></td>
                    <div class="form-group">
                        <td><textarea name="observacoes" cols="40" rows="10" id="id_observacoes" class="form-control"></textarea></td>
                    </div>
                 </tr>

                <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button" >Cancelar</a>
                <button type="submit" class="btn btn-primary">Próximo</button>
            </form>
        </div>
    </div>

{% endblock %}
