{% extends './../base.html' %}
{% load static %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-sm-10 col-12">
        <h2>Nova Prova:</h2>
            <form method="POST" class="post-form">{% csrf_token %}

                <tr>
                <td><label for="id_titulo">Título:</label></td>
                    <div class="form-group">
                     <td><input name="titulo" type="text" required id="id_titulo" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_ano">Ano:</label></td>
                    <div class="form-group">
                        <td><input name="ano" type="text" maxlength="20" id="id_ano" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_dificuldade">Dificuldade:</label></td>
                    <div class="form-group">
                        <td><input name="dificuldade" type="text" maxlength="20" id="id_dificuldade" class="form-control"></td>
                    </div>
                 </tr>

                <tr>
                <td><label for="id_observacoes">Observações:</label></td>
                    <div class="form-group">
                        <td><textarea name="observacoes" cols="40" rows="10" id="id_observacoes" class="form-control"></textarea></td>
                    </div>
                 </tr>

                <!--{% for field in form %}<p>-->
                    <!--{{field.label_tag}}<br>-->
                    <!--{% if field.help_text %}-->
                        <!--<small style="color: grey">{{field.help_text}}</small><br>-->
                    <!--{% endif %}-->
                    <!--{{field}}-->
                    <!--{% for error in field.error %}-->
                        <!--<p style="color:red">{{error}}</p>-->
                    <!--{% endfor %}-->
                    <!--{% endfor %}-->
                <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button" >Cancelar</a>
                <button type="submit" class="btn btn-primary">Próximo</button>
            </form>
        </div>
    </div>

{% endblock %}
