{% extends './../base.html' %}
{% load static %}

{% block container %}
    {% for p in provaperson%}
        <h2> Prova {{p.pk}}: </h2>
        Título: {{p.titulo}}</br>
        Ano: {{p.ano}}</br>
        Dificuldade: {{p.dificuldade}}</br>
        Observações: {{p.observacoes}}</br></br>
        <a href="{% url 'usuarios_obi:provaperson_edit' p.pk %}" class="btn btn-outline-secondary" role="button" >Editar</a>
    {% endfor %}

<a href="{% url 'usuarios_obi:provasperson' %}" class="btn btn-outline-secondary" role="button" >Minhas Provas</a>

{% endblock %}
