{% extends './../base.html' %}
{% load static %}

{% block container %}
    <h1>Minha prova:</h1>
    <form method="POST" class="post-form">{% csrf_token %}

        <tr>
            <div class="form-group">
                <td>{{ form.as_p }}</td>
            </div>
        </tr>
        <a href="{% url 'usuarios_obi:questoes_add' pk %}" class="btn btn-outline-secondary" role="button" >Adicionar Questões</a>
        <br><br><button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}