{% extends './../base.html' %}
{% load static %}

{% block container %}

    <script>
    jQuery(document).ready(function(){
        $("#showpassword").on('click', function(){

            var pass = $("#id_password");
            var fieldtype = pass.attr('type');
            if (fieldtype == 'password') {
                pass.attr('type', 'text');
                $(this).text("Hide Password");
            }else{
                pass.attr('type', 'password');
                $(this).text("Show Password");
            }
        });
    });
    </script>

    <div class="panel">
        <h2>Cadastro</h2>
   </div>
        <form method="post">{% csrf_token %}
            <table class="table">
                {% for field in form %}<p>

                <tr>{{field.label_tag}}</tr><br>

                    {% if field.help_text %}
                        <small style="color: grey">{{field.help_text}}</small><br>
                    {% endif %}
                    {{field}}
                    {% for error in field.error %}
                        <p style="color:red">{{error}}</p>
                    {% endfor %}

                </p>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Mostrar senha</button>
        </form>



    <!--<tr><td><label for="id_username">Nome de usuário</label></td>-->
         <!--<td><input id="id_username" name="username" type="text" class="form-control"></td>-->
     <!--</tr>-->
     <!--<tr>-->
         <!--<td><label for="id_password">Senha</label></td>-->
         <!--<div class="form-group">-->
             <!--<td><input id="id_password" name="password" type="password" class="form-control"></td>-->
         <!--</div>-->
     <!--</tr>-->

{% endblock %}
